h1 {
    text-align: center;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#left {
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    border: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 15px;
    float: inline-start;
}

#right {
    width: 45%;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
    border: 1px;
    border-color: red;
    border-style: dashed;
    border-radius: 15px;
    float: inline-end;
}

h3 {
    font-weight: 500;
    padding-left: 5px;
}

ol {
    padding: 10px;
    list-style-position: inside;
}

ul {
    list-style-position: inside;
    list-style: upper-roman;
    padding: 10px;
}

li {
    font-weight: 300;
}

#last {
    width: 100%;
    margin-top: 60%;
    float: right;
    margin-bottom: 20px;
}

a.fav {
    text-decoration: none;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

a.return {
    float: right;
}

a:hover {
    text-decoration: underline;

}

